@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 91%;
    --card-foreground: 0 0% 0%;
    --primary: 25 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --muted: 0 0% 40%;
    --muted-foreground: 0 0% 60%;
    --border: 0 0% 40%;
  }
}

@layer utilities {
    .bg-size-200 {
        background-size: 200% 200%;
    }
    
    @keyframes gradient {
        0%, 100% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
    }
    
    .animate-gradient {
        animation: gradient 3s ease infinite;
    }
}